# --- Dependências e Build ---
node_modules/
dist/
build/
out/
.cache/
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

# --- Configurações de IDE e Sistema ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.project
.settings/

# --- Variáveis de Ambiente (Segurança) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Arquivos de Log e Testes ---
*.log
coverage/
.nyc_output/