# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
ehthumbs.db

# Configurações de IDEs e Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.project
.settings/

# Arquivos de log
*.log

# Variáveis de ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pastas de Build (caso utilize ferramentas de compilação)
dist/
build/
out/